@use "../../assets/styles/variables" as *;
@use "../../assets/styles/typography" as *;
.show {
  display: block;
}
.hide {
  display: none;
}
.info-modal {
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  z-index: 999;
  overflow: visible;
  height: 60vh;
  width: 25%;

  &__facebook {
    border-radius: 180%;
    font-size: $font-L;
    color: $tertiary-colour;
    margin-left: 10px;
  }
  &__twitter {
    font-size: $font-L;
    color: $tertiary-colour;
    margin-left: 10px;
  }
  &__favourites-icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__modal {
    position: absolute;
    margin: 0px auto;
    padding: 20px;
    background-color: #cdefd1;
    transition: transform 0.2s ease;
    box-shadow: 0 2px 8px 3px;
    padding: 30px;
    border-radius: 10px;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__info-modal-img {
    border: 10px solid $text-primary;
    border-radius: 20px;
    height: 18vh;
    width: 50%;
    display: block;
    margin: auto;
  }
  &__label {
    font-family: $body-font;
    text-align: center;
  }
  &__use-input {
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 5px;
  }
  &__onwnership-input {
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 5px;
  }
  &__comments {
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 5px;
  }
  &__btn {
    background: $primary-colour;
    color: $text-primary;
    font-size: $font-S;
    margin-top: 20px;
  }
  &__btn:hover {
    background-color: #00504a;
  }
}
@media screen and (min-width: 320px) {
  .info-modal {
    height: 55vh;
    width: 60%;
    &__use-input {
      border-radius: 10px;
    }
    .popup__closeButton {
      margin: 5px auto;
    }

    &__onwnership-input {
      border-radius: 10px;
    }
    &__comments {
      border-radius: 10px;
    }
  }
}
@media screen and (min-width: 375px) {
  .info-modal {
    height: 60vh;
    width: 60%;
    .popup__closeButton {
      margin: 13px auto;
    }
  }
}
@media screen and (min-width: 768px) {
  .info-modal {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .info-modal {
    height: 50vh;
  }
}
@media screen and (min-width: 1440px) {
  .info-modal {
    width: 25%;
  }
}
