.home {
  &__title {
    margin: 85px 0px;
    text-align: center;
  }

  &__core-buttons {
    width: 300px;
    margin: auto;
    text-align: center;
  }
}

.add-button {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 300px;
}

@media screen and (min-width: 375px) {
  .core-buttons {
    .btn-primary {
      // max-height: 66px;
      // min-width: 130px;
      // max-width: 130px;
      // margin-bottom: 20px;

      height: 10px;
      width: 90px;
    }

    .btn-secondary {
      // max-height: 66px;
      // min-width: 130px;
      // max-width: 130px;
      // margin-bottom: 20px;
      // height: 60px;
      // width: 80px;
      height: 60px;
      width: 50px;
    }
  }
}
