@use "../../assets/styles/buttons" as *;
@use "../../assets/styles/variables" as *;

.show {
  display: block;
}

.hide {
  display: none;
}

.popUp {
  font-weight: 900;
  // -webkit-text-stroke: 1px white;
  font-size: 12px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.705);

  &__paragraph {
    text-align: center;
  }

  &__heading {
    text-align: center;
  }

  &__modal {
    width: 60%;
    position: absolute;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;

    // transform: translateY(100%);
    transition: transform 0.2s ease;
    box-shadow: 0 2px 8px 3px;
    padding: 30px;
    border-radius: 10px;

    height: 300px;
    z-index: 999;
    left: 12%;
    top: 20%;
  }
  // &__paragraph {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  &__closeButton {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #0000003a;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.562);
  }
  // &__dontShowButton {
  //   // background: Green;
  //   // color: white;
  //   // width: 90%;
  //   // height: auto;
  //   // width: ;
  // }

  &__dontShowButton {
    width: 220px;
    margin: auto;
    font-size: 12px !important;
    position: absolute;
    bottom: 8%;
  }

  // .btn-primary {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 30px;
  //   max-height: 122px;
  //   min-width: 230px;
  //   max-width: 230px;
  //   border-radius: 10px;
  //   background-color: $primary-colour;
  //   font-weight: 900;
  //   text-align: center;
  //   -webkit-text-stroke: 1px white;
  //   font-size: 24px;
  //   color: white;
  //   box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.705);
  //   cursor: pointer;
  //   border: none;

  //   &:hover {
  //     background-color: rgb(91, 224, 91);
  //   }
  // }

  &__container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
  }
}
