.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  background-color: #cdefd1;

  @media (max-width: 767px) {
    border: 2px solid red;
  }
  @media (max-width: 400px) {
    border: 2px solid blue;
    width: 220px;
  }

  & > * {
    margin: 2px;
    border-radius: 10px;
    padding: 10px;
    border: none;
  }

  &__input {
    border-radius: 10px;
    padding: 10px;
    border: none;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    border: none;
  }
}

.core-buttons__left {
  @media (max-width: 400px) {
    color: red;
  }
}
