@use "../../assets/styles/variables" as *;
@use "../../assets/styles/typography" as *;
.grand-stepper {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    //position: absolute;
    //z-index: 999;
    width: 60%;
    max-width: 900px;
    // top: 15%;
    // left: 50%;
    //transform: translate(-50%, -50%);
    font-family: $body-font;

    g > text:nth-of-type(2) {
      font-size: 0.6rem;
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

@media (min-width: 767px) {
  .grand-stepper {
    svg {
      width: 95vw !important;
    }
  }
}
@media (min-width: 320px) {
  .grand-stepper {
    svg {
      width: 75vw !important;
    }
  }
}

@media (min-width: 375px) {
  .grand-stepper {
    svg {
      width: 80vw !important;
    }
  }
}

@media (min-width: 414px) {
  .grand-stepper {
    svg {
      width: 85vw !important;
    }
  }
}
