.container {
  .landing-container {
    // border: 10px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
    .logo {
      height: 130px;
      width: 130px;
    }
    h1 {
      font-size: 40px;
      text-align: center;
    }
    h3 {
      width: 70%;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 30px;
    }

    .btn-primary {
      max-height: 66px;
      min-width: 130px;
      max-width: 130px;
    }

    @media screen and (min-width: 375px) {
      .logo {
        margin-top: 100px;
      }
    }
  }
}
