* {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-family: "Cinzel", "serif";
}

// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   align-items: center;
//   height: 100vh;
//   width: 100vw;

//   // img {
//   //   height: 560px;
//   //   width: 100%;
//   //   border-radius: 14px;
//   //   object-fit: cover;
//   // }

//   // .preview-image {
//   //   height: 300px;
//   //   width: 300px;
//   //   border-radius: 16px;
//   //   margin-top: 20px;
//   // }
// }

.hidden {
  display: none !important;
}
