.container {
  // width: 500px;
  // height: 650px;
  // border: 1px solid black;
  // margin: 60px;

  .core-buttons {
    display: flex;
    justify-content: space-evenly;

    &__left {
      // min-height: 200px;
      // min-width: 380px;
      padding: 30px;
      border-radius: 10px;
      background-color: yellow;
      color: white;
      -webkit-text-stroke: 1px black;
    }

    &__right {
      padding: 30px;
      border-radius: 10px;
      background-color: green;
      color: white;
    }
  }

  img {
    height: 500px;
    width: 500px;
  }

  .preview-image {
    height: 300px;
    width: 300px;
  }
}

.button {
  padding: 5px;
  border: 1px solid green;
  border-radius: 10px;

  &:hover {
    background-color: greenyellow;
  }
}
