.map-container {
  margin: 20px;
  // width: fit-content;
  // height: 0.5vh;
  // position: absolute;
  width: auto;
  height: auto;
  margin-top: 20px;

  .leaflet-container {
    width: 80vw;
    height: 120vh;
  }
}
