// .map-container {
//   // margin: 20px;
//   // width: fit-content;
//   // height: 0.5vh;
//   // position: absolute;
//   width: auto;
//   height: 100%;
//   margin-top: 20px;

//   .leaflet-container {
//     border-radius: 20px;
//     margin: 15px;
//     height: 80vh;
//   }
@use "../../assets/styles/variables" as *;
@use "../../assets/styles/buttons" as *;

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.leaflet-popup-content {
  height: 221px;
  width: 221px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element.style {
  width: 221px;
}

.leaflet-popup-content button {
  width: 90%;
  height: 10%;
}

.pendingInfo {
  color: $tertiary-colour;
  background-color: $secondary-colour;
}

.moreInfo {
  color: white;
  background-color: $primary-colour;
}

.leaflet-popup-content img {
  width: 90%;
  height: 90%;
}
