.leftButton {
  padding: 30px;
  border-radius: 10px;
  background-color: #ffe07d;
  color: white;
  font-weight: 900;
  font-size: 24px;
  -webkit-text-stroke: 0.2px black;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.705);
}
.rightButton {
  padding: 30px;
  border-radius: 10px;
  background-color: #109e48;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  font-size: 24px;
  color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.705);
}

.input {
  border-radius: 10px;
}
