@use "variables" as *;

$button-height: 70px;
$button-font-size: 20px;
$button-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
$button-radius: 50px;

.btn-primary {
  background: $primary-colour;
  min-width: 150px;
  min-height: $button-height;
  text-align: center;
  color: $text-primary;
  font-size: $button-font-size;
  font-weight: bold;
  border-radius: $button-radius;
  line-height: $button-height;
  box-shadow: $button-shadow;
  border: none;
  letter-spacing: 2px;

  &:hover {
    background-color: darken($primary-colour, 10%);
  }
}

.btn-secondary {
  background: $secondary-colour;
  min-width: 150px;
  min-height: $button-height;
  text-align: center;
  font-size: $button-font-size;
  font-weight: bold;
  border-radius: $button-radius;
  line-height: $button-height;
  box-shadow: $button-shadow;
  border: none;
  
  &:hover {
    background-color: #fff132;
  }
}

.btn-tertiary {
  padding: 5px;
  border: 1px solid $primary-colour;
  border-radius: 10px;

  &:hover {
    background-color: $primary-colour;
  }
}

button, a {
  &:hover {
    cursor: pointer;
  }
}