.details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;

  &__title {
    margin-bottom: 0px;
    margin: 20px 0px;
    text-align: center;
  }

  img {
    height: 560px;
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
  }

  .preview-image {
    height: 300px;
    width: 90%;
    border-radius: 16px;
    margin-top: 20px;
  }

  .core-buttons {
    display: flex;
    justify-content: center;
    .btn-primary {
      // max-width: 10px;
      // max-height: 120px;
      max-width: 200px;
      height: 67px;
      margin-left: 20px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  background-color: #cdefd1;
  width: 88%;
  max-width: 100%;

  & > * {
    margin: 10px;
  }

  &__input {
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 5px;
  }
}

@media screen and (min-width: 768px) {
  .popup {
    &__modal {
      margin-left: -34%;
    }
  }
}
@media (min-width: 768px) {
  .details__title {
    display: none;
    margin: 20px 0px;
  }
}
@media (max-width: 320px) {
  .btn-primary {
    min-width: 125px !important;
  }
  .btn-secondary {
    min-width: 125px !important;
  }
}
